section#contacts
  .container
    .row
      .col-4(style="background: #4CCDEC;")
        img(src="static/images/icons/clock-white.png", alt="Часы")
        h2 Рабочее время
        p Пн-Сб: 8.00-18.00
        p Вс: выходной
      .col-4(style="background: #3C89D1;")
        img(src="static/images/icons/phone-white.png", alt="Часы")
        h2 Контакты
        p +996 555 901 386
        p +996 704 901 386
        p +996 312 901 386
      .col-4(style="background: #134C79;")
        img(src="static/images/icons/location-white.png", alt="Часы")
        h2 Адрес
        p Кыргызстан, г. Бишкек ул. Токомбаева 44/1