//- <script src="//megatimer.ru/get/930e97454e7149b0a35b7205fe198814.js"></script>

section#main.fill-bg(style="background-image: url(static/images/main-bg.jpg)")
  .container
    .row
      nav#nav.ml-auto
        ul
          li
            a(href="#") О нас
          li
            a(href="#") Услуги
          li
            a(href="#") Наши работы
          li
            a(href="#") Отзывы
          li
            a(href="#") Контакты
    .row
      form.main-form
        img(src="static/images/logo.svg", alt="Nova Clinic")
        h1 КОСМЕТОЛОГИЯ
        p Бесплатная консультация от <b>специалиста</b>! Не упускайте шанс! Оставьте заявку прямо сейчас!
        
        .text-center.py-4
          //- <script src="//megatimer.ru/get/930e97454e7149b0a35b7205fe198814.js"></script>
          .timer
            .h.d-flex
              span 0
              span 8
            span :
            .m.d-flex
              span 5
              span 7
            span :
            .s.d-flex
              span 4
              span 7

        h2 ФОРМА ЗАЯВКИ
        .form-group
          input.form-input(type="text", placeholder="ВАШЕ ИМЯ")
        .form-group
          input.form-input(type="text", placeholder="ВАШ ТЕЛЕФОН")
        button.btn.btn-red(type="submit") ОТПРАВИТЬ
